@model Meus_Contatos.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<div class="text-center" style="margin-bottom: 150px;">
    <h1 class="display-4">Login</h1>
</div>
<p class="fs-5 mb-4">Preencha os dados necessários para realizar o login:</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="mt-10">
        <div class="form-group mb-3">
            <b>@Html.LabelFor(m => m.Username)</b>
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @required = "required" })
        </div>

        <div class="form-group mb-3">
            <b>@Html.LabelFor(m => m.Password)</b>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @required = "required" })
        </div>
    </div>

    <div class="mt-2">
        <a href="@Url.Action("Registrar", "Conta")" class="btn btn-secondary">Cadastro</a>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
}
